* {
    margin: 0;
}
html,body{
    height:100%;
}
.redbox{background-color: red;
    height: 200px;
    width: 200px;
}
.greenbox {background-color: green;
    height: 100px;
    width: 100px;}

.bluebox{background-color: blue;
    height: 150px;
    width: 150px;}
h1 {
    color: red;
    font-weight: lighter;
}
p {font-weight: bold;
}