* {
    margin: 0;
}
html,body{
    height:100%;
}
.box{background: red;
    height: 100px;
}
h1 {
    color: red;
    font-weight: lighter;
}
p {font-weight: bold;
}
div{
    width: 200px;
}